<header class="header">
    <div class="container">
        <div class="header__container">
            <div class="header__logo">
                <a href="">
                    <img src="images/logo.svg" alt="">
                </a>
            </div>
            <div class="header__menu">
                <div class="nav-menu">
                    <div class="nav-menu__button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="nav-menu__container">
                        <nav class="menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a class="active" href="#">Explore</a></li>
                                <li><a href="#">My Campaigns</a></li>
                            </ul>
                        </nav>
                        <a class="header__user" href="#">
                            <div class="header__user_face">
                                <img src="images/user.jpg" alt="">
                            </div>

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>